.head{
	width: 100%;
	height: 40px;
	background-color: #333;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.head-wenzi{
	font-size: 12px;
	float: left;
	color: #b0b0b0;
	line-height: 40px;
	font-weight: normal;
	font-family: '微软雅黑','苹方';
	cursor: pointer;
	/* 设置光标样式 */
}
.head-wenzi:hover{
	color: #fff;
}
.head-shuxian{
	float: left;
	line-height: 40px;
	color: #424242;
	font-size: 12px;
	font-family: '微软雅黑','苹方';
	font-weight: lighter;
	margin: 0 6px;
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}
.nav-neikuan{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	width: 55px;
	height: 55px;
	background-color: orangered;
	margin-top: 22.5px;
	float: left;
}
.nav-wenzi{
	float: left;
	margin-left: 190px;
}
.nav-font{
	float: left;
	line-height: 100px;
	margin-right: 20px;
	color: #333;
	font-size: 16px;
}
.nav-font:hover{
	color: orangered;
}
.list{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
	margin-top: 14px;
}
.list-img{
	width: 316px;
	height: 170px;
	background-color: #5F5750;
	float: left;
	transition: all 0.5s linear;
}
.list-img1{
	width: 234px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.list-shuxian{
	align-self: center;
}
.list-shuxian2{
	margin-left: 6.5px;
}
.list-shuxian3{
	margin-right: 6.5px;
}
.list-img2{
	margin: 0 15px 0 14px;
}
.list-img3{
	float: right;
}
.list-img:hover{
	box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
}
.danpin{
	width: 1226px;
	height: 438px;
	margin: 0 auto;
	margin-top: 26px;
}
.danpin-top{
	width: 100%;
	height: 58px;
	line-height: 58px;
}
.danpin-right{
	width: 70px;
	height: 25px;
	float: right;
	margin-top:16.5px;

}
.danpin-left{
	float: left;
	font-size: 22px;
	font-weight: 200;
	color: #333;
}
.danpin-right a{
	width: 33px;
	height: 23px;
	float: left;
	border: 1px solid #e0e0e0;
	line-height: 23px;
	text-align: center;
}
.danpin-bottom{
	width: 1226px;
	height: 380px;
}
.danpin-content{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid ;
	border-top-color: #ffac13;
	padding-top:39px;
	float: left; 
	margin-right:14px; 
}
.danpin-img{
	width: 160px;
	height: 166px;
	margin: 0 auto;
	display: block;
}
.danpin-wenzi1{
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	display: block;
	margin-top: 22px;
	text-align: center;
}
.danpin-wenzi2{
	font-size: 12px;
	color: #b0b0b0;
	font-weight: normal;
	text-align: center;
	margin-top: 3px;
}
.danpin-wenzi3{
	font-size: 12px;
	color: #ff6709;
	font-weight: normal;
	text-align: center;
	margin-top: 12px;
}
.danpin-content5{
	margin-right: 0;
	border-top-color: #00c0a5;
}
.danpin-content4{
	border-top-color: #e53935;
}
.danpin-content3{
	border-top-color: #2196f3;
}
.danpin-content2{
	border-top-color: #83c44e;
}
.buy{
	display: block;
	float: left;
	width: 120px;
	height: 40px;
	background-color: #424242;
	margin-left: 12px;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	text-align: center;
}
.buy .iconfont{
	font-size: 20px;
}
.buy:hover{
	background-color: #fff;
	color: orangered;
}
.list-icon{
	width: 76px;
	height: 82px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	font-size: 12px;
}
.list-icon a{
	color: rgba(255,255,255,0.7);
}
.list-icon .iconfont{
	padding: 0 10px;
	font-size: 24px;
	color: rgba(255,255,255,0.7);
}
.list-icon:hover a{
	color: #fff;
}
.list-shuxian{
	width: 1px;
	height: 70px;
	background-color: #665e57;
}
.list-shuxian1{
	width: 65px;
	height: 1px;
	background-color: #665e57;
}
.goods{
	width: 100%;
	background-color: #f5f5f5;
}
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
}
.jiadian-top{
	width: 100%;
	height: 58px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.jiadian-select{
	width: 253px;
	height: 58px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.jiadian-select a{
	font-size: 16px;
	color: #333;
	transition: all .3s linear;
}
.jiadian-select a:hover,.jiadian-select .jiadian-antive{
	color: orangered;
	border-bottom: 2px solid orangered;
}
.jiadian-top h2{
	font-size: 22px;
	font-weight: 200;
	color: #333;
}
.jiadian-bottom{
	width: 100%;
	height: 628px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.jiadian-left{
	width: 234px;
	height: 100%;
	background-color: skyblue;
	transition: all .3s linear;
}
.jiadian-right{
	width: 978px;
	height: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.jiadian-item{
	width: 234px;
	height: 300px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	transition: all .3s linear;
	position: relative;
	overflow: hidden;
}
.jiadian-item1{
	width: 64px;
	height: 20px;
	background-color: #e53935;
	font-size: 12px;
	color: white;
	line-height: 20px;
	text-align: center;
	margin: 0 70px;
}
.jiadian-item2{
	display: block;
	width: 150px;
	height: 150px;
	margin-top: 14px;
}
.jiadian-item3{
	font-size: 14px;
	color: #333;
	padding: 0 20px;
}
.jiadian-item4{
	font-size: 12px;
	color: #b0b0b0;
}
.jiadian-item5{
	font-size: 14px;
	color: #ff7600;
	padding: 0 70px;
}
/* .jiadian-item:nth-child(3) .jiadian-item1,.jiadian-item:nth-child(6) .jiadian-item1{
	background-color: yellowgreen;
}
.jiadian-item:nth-child(4) .jiadian-item1,.jiadian-item:nth-child(5) .jiadian-item1,.jiadian-item:nth-child(7) .jiadian-item1,.jiadian-item:nth-child(8) .jiadian-item1{
	background-color: rgba(0, 0, 0, 0);
} */
.jiadian-items{
	width: 234px;
	height: 300px;
}
.jiadian-item:hover .jiadian-item6{
	bottom: 0px;
}
.jiadian-item:hover,.jiadian-items1:hover,.jiadian-left:hover,.video-item:hover,.reping-item:hover{
	box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, .1);
	transform: translateY(-5px);
}
.jiadian-items1{
	width: 100%;
	height: 93px;
	background-color: white;
	padding-top: 50px;
	transition: all .3s linear;
}
.jiadian-items1:nth-child(2){
	margin-top: 14px;
}
.jiadian-items2{
	width: 50%;
	float: left;
	text-align: center;
}
.jiadian-items2 .jiadian-item5{
	padding: 0;
	float: left;
	margin-left: 23px;
}
.jiadian-items3{
	width: 80px;
	height: 80px;
	background-color: red;
	float: right;
	margin-right: 20px;
	margin-top: -20px;
}
.liulan{
	font-size: 18px;
}
.remen{
	color: #757575;
}
.zhineng{
	width: 100%;
}
.zhineng-top{
	margin-top: 30px;
}
.lvse{
	background-color: yellowgreen;
}
.touming{
	background-color: rgba(0, 0, 0, 0)
}
.jiadian-item6{
	width: 100%;
	height: 80px;
	background-color: orangered;
	position: absolute;
	bottom: -80px;
	transition: all .3s linear;
}
.pingjia{
	font-size: 12px;
	color: #fff;
	margin: 10px 30px;
}
.pingjiaren{
	font-size: 12px;
	color: rgba(255, 255, 255, .5);
	margin: 10px 30px;
}
.xinxiwenzi{
	font-size: 12px;
	color: #fff;
	padding: 0 70px;
}
.tuijian{
	height: 320px;
}
.datuijian{
	height: 378px;
}
.video{
	width: 1226px;
	height: 403px;
	margin: 0 auto;
	margin-top: 12px;
}
.reping{
	width: 1226px;
	height: 473px;
	margin: 0 auto;
	margin-top: -10px;
}
.reping-bottom{
	height: 415px;
	width: 100%;
 	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reping-item{
	width: 296px;
	height: 100%;
	background-color: white;
	transition: all .3s linear;
}
.reping-item1{
	width: 100%;
	height: 220px;
}
.video-top{
	width: 90px;
}
.video-top a{
	font-size: 16px;
	color: #333;
}
.video-bottom{
	width: 100%;
	height: 285px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.video-item{
	width: 296px;
	height: 100%;
	background-color: white;
	transition: all .3s linear;
}
.video-item1{
	width: 100%;
	height: 180px;
	position: relative;	
}
.video-item1 .play{
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 30px;
	color: #fff;
}
.video-item2{
	font-size: 14px;
	color: #424242;
	display: block;
	text-align: center; 
	margin-top: 28px;
}
.video-item3{
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
	display: block;
	margin-top: 6px;
}
.reping-jiage{
	font-size: 14px;
	color: #ff6709;
	font-weight: normal;
	float: right;
	margin-right: 130px;
}
.pingjia1{
	display: block;
	font-size: 14px;
	color: #333;
	font-weight: 400;
	line-height: 24px;
	margin: 26px 30px;
}
.pingjiaren1{
	font-size: 12px;
	color: #b0b0b0;
	padding: 0 10px 0 0;
	margin: 0 30px 8px;
	font-weight: 400;
}
.pingjia11{
	display: block;
	font-size: 14px;
	color: #333;
	font-weight: 400;
	margin: 0 10px 0 30px;
	float: left;
}
.pingjiashuxian{
	font-size: 14px;
	color: #e0e0e0;
	float: left;
	margin-right: 0;
}
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
}
.banner-nav{
	width: 234px;
	height: 420px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
	z-index: 999;
}
.banner-item{
	width: 174px;
	height: 42px;
	padding: 0 30px;
	font-size: 14px;
	color: white;
	line-height: 42px;
	z-index: 999;
}
.banner-item:hover{
	background-color: orangered;
}
.banner-item span:nth-child(2){
	float: right;
}
.banner-button{
	width: 41px;
	height: 69px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	text-align: center;
	line-height: 69px;
	font-size: 40px;
	color: #757575;
	font-weight: 200;
	z-index: 999;
}
.banner-button:hover{
	background-color: rgba(0, 0, 0, .6);
	color: #fff;
}
.button01{
	left: 234px;
}
.button02{
	right: 0;
}
.banner-pages{
	width: 140px;
	height: 10px;
	list-style-type:;
	position: absolute;
	right:30px;
	bottom: 10px; 
	z-index: 999;
}
.banner-pages li{
	width: 6px;
	height: 6px;
	background-color: #eee;
	border-radius: 50%;
	float:left;
	margin: 0 5px;
	border: 2px solid #666;
	cursor: pointer;
	overflow: hidden;
}
.nav-search{
	width: 296px;
	height: 50px;
	background-color: skyblue;
	float: right;
	margin-top: 25px;
}
.sousuo{
	width: 243px;
	height: 48px;
	border: 1px solid #e0e0e0;
	text-indent: 26px;
	float: left;
}
.sousuo:focus{
	outline: 1px solid orangered;
}
.nav-button{
	width: 51px;
	height: 50px;
	background-color: white;
	border: 1px solid #e0e0e0;
	float: right;
	outline: none;
	font-size: 24px;
}
.nav-button:hover{
	background-color: orangered;
}
.map{
	width: 100%;
	height: 272px;
}
.map-top{
	width: 1226px;
	height: 80px;
	margin: 0 auto;
	color: #616161;
	font-size: 16px;
	line-height: 80px; 
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid rgba(0, 0, 0, .2);
}
.map-top .iconfont{
	font-size: 24px;
	line-height: 80px;
}
.icon-weixiu{
	margin-left: 58px;
}
.dian{
	margin-right: 58px;
}
.zhandian:hover{
	color: orangered;
}
.map-shuxian{
	margin-left: 58px;
	font-size: 24px;
	color: rgba(0, 0, 0, .3)
}
.map-bottom{
	width: 1226px;
	height: 192px;
	margin: 40px auto;
	
}
.map-items{
    width: 160px;
    height: 112px;
   
    float: left;
}
.map-item{
    width: 160px;
    height: 50px;
}
.map-item1{
    width: 160px;
    height: 30px;
}
.map-item1:hover{
    color: red;
}
.right{
    width: 252px;
    height: 112px;
     float: right;
     background-color: #fff;
     border-left: 1px solid rgba(0, 0, 0, 0.3);
}
.right-item{
   text-align: center;
   color: red;
   font-size: 25px;
}
.right-item2{
    text-align: center;
  margin-top: 5px;
   font-size: 10px;
}
.right-item3{
    width: 120px;
    height: 30px;
    border: 1px solid red;
    font-size: 10px;
    color: #ff6700;
    margin:0 auto;
    cursor:pointer;
    line-height: 30px;
    text-align: center;
    margin-top: 30px;
}
.right-item3:hover{
    background-color: #ff6700;
    color: #fff;
}
